@import '@/assets/css/base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

button[type='submit'] {
  background-color: hsla(160, 100%, 37%, 0.8);
  color: white;
}
@media (hover: hover) {
  button[type='submit']:hover {
    background-color: hsla(160, 100%, 37%, 0.6);
  }
}

/* hide calculated space for vue validates */
.v-input__details:not(#fake) {
  display: none;
}
